#load-map {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#load-map:hover {
    background-color: red;
}

.open-campaign {

}

.campaign-tabs {
    width: max-content;
}



.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.block {
    img {
        display: block;
        border: none;
    }
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 400px;
}

.tile {
    position: absolute;
    z-index: 0;
}

.object {
    position: absolute;
    z-index: auto;
}

.statistic {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 400px;
    z-index: auto;
    border-radius: 10px;
    border-bottom-color: black;
    background-color: aqua;
}

.characters {

}

.enemies {

}

.otherObjects {

}

.wereeeee {
    background-image: url("pictures/backgrounds/2560x1600-terrain-wa.jpg");
}

.block1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 50%;
    background: blue;
}


.close-button {
    width: 80px;
    height: 80px;
    /*box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.25);*/
    border-radius: 6px;
    background: green;
    margin: 20px auto;
    position: relative;
    display: block;
    z-index: 200;
    /*text-indent: -9999px;*/
    cursor: pointer;
    left: 10%;
    top: 10%;
}
.close-button:before,
.close-button:after {
    content: '';
    width: 80%;
    height: 6px;
    background: #BFE2FF;
    position: absolute;
    top: 48%;
    left: 10%;
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
}
.close-button:after {
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
}
.close-button:hover:before,
.close-button:hover:after {

    transform: rotate(180deg);
    background: #FFF;
}